body{
  background-color: black;
}

h1{
  color: rgb(126, 113, 228);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

td , th {
  border: 1px solid;
  color :rgb(126, 113, 228);
}

#planets img{
  width: 70px;
  height: 70px;
}

td{
  font-size: small; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th {
  font-size: medium; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}